@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  background: url(../images/bg.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
}

header {
  padding: 1rem 2rem;
  background-color: #612a91;
  color:black;
}

section {
  margin: 5rem 0;
}

textarea {
  margin: 1rem 0;
  display: block;
  width: 100%;
  padding: 2rem;
  height: 8rem;
  resize: none;
  color: #4a0061;
  border: 2.5px solid #871ba8;
  font-weight: 500;
}

button {
  background-color: #871ba8;
  color: black;
  padding: 10px 40px;
  display: block;
  margin-left: 3rem;
  width: 80%;
  border: 3px solid black;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 2s ease;
  margin-bottom: 5rem;
}

button:hover:active {
  transform: scale(1.3);
  color: #612a91;
}


.output {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
}

.output h4 {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  background-color: #612a91;
  font-weight: bold;
  margin-bottom: 1rem;
}

.output-container {
  width: 100%;
  height: 8rem;
  color: #4a0061;
  border: 2.5px solid #871ba8;
  margin: 1rem 0;
  padding: 2rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
}